.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #333;
}

.form-container {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin: 1rem 0;
}

input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: #1fff79;
  }
}

.add-button {
  padding: 0.5rem;
  border: none;
  background-color: #1cc05e;
  color: #fff;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: #16af53;
    color: #fff;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  position: relative;
}

table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

td {
  border: 1px solid #ccc;
  color: #333;
}

th {
  background-color: #333;
  border: none;
  position: sticky;
  top: 0;
  color: #fff;
  z-index: 1;

  &:first-child {
    border-left: none;
    border-top-left-radius: 0.25rem;
  }

  &:last-child {
    border-right: none;
    border-top-right-radius: 0.25rem;
  }

  &:not(:last-child) {
    border-right: 1px solid #ccc;
  }
}

tr {
  & input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    accent-color: #1cc05e;
    color: #fff;
  }

  & button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #c01d1d;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #a01919;
    }
  }

  &.checked {
    opacity: 0.5;
    text-decoration: line-through;
  }
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr:nth-child(odd) {
  background-color: #fff;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
}

.clear-button {
  background-color: #c01d1d;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #a01919;
  }
}
